<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chatbox</h1>
    <input type="text" id="newmsg" placeholder="message..." />
    <button id="btn">Send</button>

    <ul id="msglist"></ul>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      // call the io function and get the new socket object
      var socket = io();

      let btn = document.getElementById("btn");
      let inputMsg = document.getElementById("newmsg");
      let msgList = document.getElementById("msglist");

      console.log(inputMsg.value);

      btn.onclick = function () {
        socket.emit("msg_send", {
          msg: inputMsg.value,
        });
      };

      socket.on("msg_rcvd", (data) => {
        let limsg = document.createElement("li");
        limsg.innerText = data.msg;
        msgList.appendChild(limsg);
      });
    </script>
  </body>
</html>
